body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000; 
  border-left: 1px solid black;
  border-top: 1px solid white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  height: 100%;
  width: 100%;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-top: 20px;
}

.row .col-md-1,
.row .col-md-10 {
  padding: 0;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid #000000;
  height: 100%;
  width: 100%;
  text-align: right;
  padding: 10px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color:black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #7826d6;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 25px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
